body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.clock {
    width: 150px;
    height: 150px;
    border: 8px solid #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button {
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #2980b9;
}

#lapList {
    list-style-type: none;
    padding: 0;
    text-align: left;
    max-width: 300px;
    margin: auto;
}

li {
    background-color: #ecf0f1;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
